<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sun</key>
	<dict>
		<key>radius</key>
		<string>100.0</string>
		<key>position</key>
		<dict>
			<key>xPosition</key>
			<string>-50</string>
			<key>zPosition</key>
			<string>-400</string>
			<key>yPosition</key>
			<string>-50</string>
		</dict>
		<key>parent</key>
		<string></string>
		<key>planets</key>
		<array>
			<dict>
				<key>position</key>
				<dict>
					<key>xPosition</key>
					<string>136</string>
					<key>yPosition</key>
					<string>0</string>
					<key>zPosition</key>
					<string>0</string>
				</dict>
				<key>name</key>
				<string>mercury</string>
				<key>radius</key>
				<string>3</string>
				<key>image</key>
				<string>mercury</string>
				<key>parent</key>
				<string>sun</string>
			</dict>
			<dict>
				<key>position</key>
				<dict>
					<key>xPosition</key>
					<string>168</string>
					<key>yPosition</key>
					<string>0</string>
					<key>zPosition</key>
					<string>0</string>
				</dict>
				<key>name</key>
				<string>venus</string>
				<key>radius</key>
				<string>7</string>
				<key>image</key>
				<string>venus</string>
				<key>parent</key>
				<string>sun</string>
			</dict>
			<dict>
				<key>planets</key>
				<array>
                    <dict>
                        <key>position</key>
                        <dict>
                            <key>xPosition</key>
                            <string>0</string>
                            <key>yPosition</key>
                            <string>-15</string>
                            <key>zPosition</key>
                            <string>0</string>
                        </dict>
                        <key>name</key>
                        <string>moon</string>
                        <key>radius</key>
                        <string>1</string>
                        <key>image</key>
                        <string>moon</string>
                        <key>parent</key>
                        <string>earth</string>
                    </dict>
				</array>
				<key>position</key>
				<dict>
					<key>xPosition</key>
					<string>193</string>
					<key>yPosition</key>
					<string>0</string>
					<key>zPosition</key>
					<string>0</string>
				</dict>
				<key>name</key>
				<string>earth</string>
				<key>radius</key>
				<string>8</string>
				<key>image</key>
				<string>earth</string>
				<key>parent</key>
				<string>sun</string>
			</dict>
			<dict>
				<key>position</key>
				<dict>
					<key>xPosition</key>
					<string>241</string>
					<key>yPosition</key>
					<string>0</string>
					<key>zPosition</key>
					<string>0</string>
				</dict>
				<key>name</key>
				<string>mars</string>
				<key>radius</key>
				<string>4</string>
				<key>image</key>
				<string>mars</string>
				<key>parent</key>
				<string>sun</string>
			</dict>
			<dict>
				<key>position</key>
				<dict>
					<key>xPosition</key>
					<string>300</string>
					<key>yPosition</key>
					<string>0</string>
					<key>zPosition</key>
					<string>0</string>
				</dict>
				<key>name</key>
				<string>jupiter</string>
				<key>radius</key>
				<string>30</string>
				<key>image</key>
				<string>jupiter</string>
				<key>parent</key>
				<string>sun</string>
			</dict>
			<dict>
				<key>position</key>
				<dict>
					<key>xPosition</key>
					<string>380</string>
					<key>yPosition</key>
					<string>0</string>
					<key>zPosition</key>
					<string>0</string>
				</dict>
				<key>name</key>
				<string>saturn</string>
				<key>radius</key>
				<string>24</string>
				<key>image</key>
				<string>saturn</string>
				<key>parent</key>
				<string>sun</string>
			</dict>
			<dict>
				<key>position</key>
				<dict>
					<key>xPosition</key>
					<string>440</string>
					<key>yPosition</key>
					<string>0</string>
					<key>zPosition</key>
					<string>0</string>
				</dict>
				<key>name</key>
				<string>saturn</string>
				<key>radius</key>
				<string>12</string>
				<key>image</key>
				<string>saturn</string>
				<key>parent</key>
				<string>sun</string>
			</dict>
			<dict>
				<key>position</key>
				<dict>
					<key>xPosition</key>
					<string>136</string>
					<key>yPosition</key>
					<string>0</string>
					<key>zPosition</key>
					<string>0</string>
				</dict>
				<key>name</key>
				<string>uranus</string>
				<key>radius</key>
				<string>10</string>
				<key>image</key>
				<string>uranus</string>
				<key>parent</key>
				<string>sun</string>
			</dict>
		</array>
		<key>image</key>
		<string>sun</string>
		<key>name</key>
		<string>sun</string>
	</dict>
</dict>
</plist>
